{
    "inbounds": [
        {
            "tag": "reality",
            "listen": "0.0.0.0",
            "port": 80,
            "protocol": "vless",
            "settings": {
                "clients": [
                    {
                        "id": "${USER_ID_DIRECT}",
                        "level": 0,
                        "email": "direct@example.com",
                        "flow": "xtls-rprx-vision"
                    },
                    {
                        "id": "${USER_ID_WARP}",
                        "level": 0,
                        "email": "warp@example.com",
                        "flow": "xtls-rprx-vision"
                    }
                ],
                "decryption": "none"
            },
            "streamSettings": {
                "network": "tcp",
                "security": "reality",
                "realitySettings": {
                    "dest": "${REALITY_SNI}:443",
                    "serverNames": [
                        "${REALITY_SNI}"
                    ],
                    "privateKey": "${REALITY_PRIVATE_KEY}",
                    "publicKey": "${REALITY_PUBLIC_KEY}",
                    "shortIds": [
                        "",
                        "0123456789"
                    ],
                    "shortId": "",
                    "fingerprint": "chrome",
                    "rejectUnknownSni": true
                }
            },
            "sniffing": {
                "enabled": true,
                "destOverride": [
                    "http",
                    "tls",
                    "quic"
                ]
            }
        }
    ]
}
